<footer id="footer" >
  <div class="footer-inner">
    <div class="column-section spaced-big clearfix">
      <div class="column one-half">
        <p>
         <img id="dark-logo" src="{{ "/assets/mariochavez.png" | relative_url }}" srcset="{{ "/assets/mariochavez.png" | relative_url }} 1x, {{ "/assets/mariochavez@2x.png" | relative_url }} 2x" alt="Mario Chávez">
        </p>
        <h6><strong>Mario Alberto Chávez Cárdenas</strong></h6>
        <small>Copyright © 2019 Mario Alberto Chávez Cárdenas.</small>
      </div>
    </div>
  </div>
</footer>
