<head>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"></meta>
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}"></meta>
  <meta name="keywords" content="{{ page.keywords }}"></meta>
  <link rel="image_src" href="{{ "/assets/img/" | absolute_url }}640-{{ page.image }}"></link>

  <link rel="alternate" type="application/rss+xml" title="{{ page.title }}" href="{{ "/feed.xml" | absolute_url }}">

  <meta property="og:title" content="{{ page.title }}"></meta>
  <meta property="og:description" content="{{ page.description }}"></meta>
  <meta property="og:type" content="article" /></meta>
  <meta property="og:url" content="{{ page.url | absolute_url }}"></meta>
  <meta property="og:image" content="{{ "/assets/img/" | absolute_url }}640-{{ page.image }}"></meta>
  <meta property="og:site_name" content="Mario Alberto Chávez : Blog"></meta>

  <meta name="twitter:site" content="@mario_chavez"></meta>
  <meta name="twitter:domain" content="mariochavez.io"></meta>
  <meta name="twitter:card" content="summary_large_image"></meta>
  <meta name="twitter:title" content="{{ page.title }}"></meta>
  <meta name="twitter:description" content="{{ page.description }}"></meta>
  <meta name="twitter:image:src" content="{{ "/assets/img/" | absolute_url }}640-{{ page.image }}"></meta>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css"></link>

  {% asset style.css %}
  {% asset isotope.css %}
  {% asset mqueries.css %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141668117-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141668117-1');
  </script>
</head>
