<header id="header">
  <div class="header-inner clearfix">

    <div id="logo">
      <a href="/">
        <img id="dark-logo" src="{{ "/assets/mariochavez.png" | relative_url }}" srcset="{{ "/assets/mariochavez.png" | relative_url }} 1x, {{ "/assets/mariochavez@2x.png" | relative_url }} 2x" alt="Mario Chávez">
      </a>
    </div>

    <div id="menu" class="clearfix transition-enabled">
      <div class="menu-actions">
        <div class="menu-toggle"><span class="hamburger"></span></div>
      </div>

      <div id="menu-inner">
        <nav id="main-nav">
          <ul>
            <li class="current_page_item"><a href="/">Secciones</a>
              <ul class="sub-menu">
                <li><a href="/desarrollo.html">Desarrollo de Software</a></li>
                <li><a href="/fotografia.html">Fotografía</a></li>
              </ul>
            </li>
            <li><a href="/proyectos.html">Proyectos</a>
              <ul class="sub-menu">
                <li><a href="/webserver.html">Servidor Web con Ruby</a></li>
                <li><a href="/rails-para-expertos.html">Rails para expertos</a></li>
              </ul>
            </li>
            <li><a href="/acerca.html">Acerca</a></li>
            <li><a href="https://heroimage.co" target="_blank">Hero Image</a></li>
            <li><a href="https://f64.io" target="_blank">F/64</a></li>
            <li><a href="https://michelada.io" target="_blank">michelada.io</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div id="header-widget" class="social">
      <ul class="socialmedia-widget">
        <li class="facebook"><a href="#"></a></li>
        <li class="twitter"><a href="#"></a></li>
        <li class="instagram"><a href="#"></a></li>
      </ul>
    </div> <!-- END #header-awidget -->

  </div>
</header>
