---
layout: default
---

<main class="flex-auto pointer-events-auto">
  <!-- Hero Section -->
  <div class="mt-9 sm:px-8">
    <div class="mx-auto w-full max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">
          <div class="max-w-2xl">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Content Container: Articles + Sidebar -->
<div class="mt-24 sm:px-8 md:mt-28">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div
          class="
            mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none
            lg:grid-cols-2
          "
        >
          <!-- Left Column: Articles -->
          {% assign latest_posts = collections.posts.resources | sort: "date" | reverse | slice: 0, 3 %}
          {% render "recent_posts", latest_posts: latest_posts, data: site.data %}

          <!-- Right Column: Newsletter & Work -->
          <div class="space-y-10 lg:pl-16 xl:pl-24">
            <!-- Newsletter Form -->

            <!-- My Websites -->
            {% render "my_websites", data: site.data %}

            <!-- Work History -->
            {% render "work", data: site.data %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
