---
layout: default
---

<section class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="flex flex-col pb-10 sm:pb-16 lg:pb-0 lg:pr-8 xl:pr-20">
        <img class="h-6 self-start" src="/images/mario_chavez.svg" alt="Photography">
        <blockquote class="mt-10 text-lg leading-8 text-white">
          <p>“Mario Alberto Chávez lives in Colima México where he works on personal photography projects about territory, popular culture, and memory.”</p>
        </blockquote>
        <a href="https://foto.mariochavez.io" class="text-white hover:text-gray-500 uppercase font-bold mt-6" target="_blank">Visit my Photography site</a>
      </div>
      <div class="flex flex-col border-t border-white/10 pt-10 sm:pt-16 lg:border-l lg:border-t-0 lg:pl-8 lg:pt-0 xl:pl-20">
         <svg aria-hidden="true" viewBox="0 0 668 413" fill="none" class="h-12 self-start">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-1075.000000, -457.000000)" fill="#FFFFFF">
                <g transform="translate(1075.000000, 457.000000)">
                  <path d="M659.903985,181.119414 C602.597498,137.271987 458.062066,54.6571087 341.89328,146.173714 C225.724495,237.69032 259.29514,401.467126 259.29514,412.480874 C226.480852,412.480874 83.7167195,412.480874 29.0434783,412.480874 C73.5910076,219.544491 156.0351,133.734824 247.926071,77.8593757 C448.656079,-44.1970027 670.153601,173.075762 667.984191,175.108073 C665.81478,177.140385 665.81478,177.140385 659.903985,181.119414 Z" id="Path"></path>
                  <polygon id="Path-2" points="15.7338392 255.62195 52.2782609 273.403681 37.9739595 319.527438 -3.46347437e-15 305.973766"></polygon>
                  <polygon id="Path-3" points="106.350675 110.382206 145.217391 135.43376 115.249868 174.287693 75.5130435 145.300726"></polygon>
                  <polygon id="Path-4" points="197.495652 37.5092199 234.820998 17.4287693 261.391304 48.7228641 224.638372 69.7150773"></polygon>
                  <polygon id="Path-5" points="336.904348 0 385.914877 0 389.182609 23.2383591 344.954365 23.2383591"></polygon>
                  <polygon id="Path-6" points="476.313043 23.2383591 516.973913 51.6022711 509.092862 63.9054876 476.313043 45.2466283"></polygon>
                  <polygon id="Path-7" points="476.313043 116.191796 476.313043 126.40444 514.098542 127.810975 516.973913 118.423694"></polygon>
                  <polygon id="Path-8" points="377.565217 134.990714 409.675327 122.001385 418.226087 141.338057 393.252118 162.668514"></polygon>
                  <polygon id="Path-9" points="307.86087 189.506493 331.163382 168.478104 354.330435 199.723712 341.167522 220.764412"></polygon>
                  <polygon id="Path-10" points="275.148006 255.62195 307.86087 276.001298 303.67378 307.908258 261.391304 289.390533"></polygon>
                  <polygon id="Path-11" points="261.391304 366.004156 261.391304 404.086545 302.052174 412.480874 302.052174 382.780455"></polygon>
                </g>
              </g>
            </g>
          </svg>

        <blockquote class="mt-10 text-lg leading-8 text-white">
          <p>“Aprende a crear aplicaciones Web modernas usando Ruby on Rails con la ayuda de videos que te muestran como sacar el mayor beneficio de este framework.”</p>
        </blockquote>
        <a href="https://cursos.mariochavez.io" class="text-white hover:text-gray-500 uppercase font-bold mt-6" target="_blank">Visita el sitio</a>
      </div>
    </div>
  </div>
</section>

<div class="md:grid md:grid-cols-2 posts">
  {{ content }}
</div>

{% if paginator.total_pages > 1 %}
  <nav class="flex justify-center p-8 m-auto font-bold uppercase xl:p-10 text-md">
    <div class="pr-4">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="pb-1 border-b-4 border-gray-200 hover:text-red-500 transition-colors">Previo</a>
      {% else %}
        <p class="text-gray-400">Previo</p>
      {% endif %}
    </div>
    <div><p>...</p></div>
    <div class="pl-4">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="pb-1 border-b-4 border-gray-200 hover:text-red-500 transition-colors">Siguiente</a>
      {% else %}
        <p class="text-gray-400">Siguiente</p>
      {% endif %}
    </div>
  </nav>
{% endif %}
