---
layout: default
---

<article class="py-24 font-serif post">
  <header class="max-w-4xl m-auto">
    <h1 class="text-6xl font-bold tracking-wide">{{ page.title }}</h1>
  </header>

  <figure class="mt-16 aspect-w-16 aspect-h-9">
    <img src="{{ page.image }}" loading="lazy" />
  </figure>

  <div class="max-w-4xl m-auto mt-16 tracking-wider prose-lg">
    {{ content }}
  </div>
</article>
