@import "tailwindcss/base";
@import "tailwindcss/components";

/*! purgecss start ignore */

// You can add your own custom components/styles here
.gallery {
  @apply space-y-2;

  .gallery-3, .gallery-2 {
    @apply flex flex-row space-x-2;
  }

  figure:not(.free) {
    @apply aspect-h-3 aspect-w-4 m-0;
    flex-grow: 1;
    flex-basis: 0;
  }
}
 figure {
  img {
    @apply object-cover;
  }
 }

 .md\:prose-lg {
   .gallery {
    figure {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
   }
 }

.posts {
  article:nth-child(odd) {
    @apply border-r-0;
  }

  article:nth-child(-n+2) {
    @apply border-t-0;
  }
}

main .post {
  ul {
    margin-left: 1rem;
    padding-left: 0;
  }
}

.book {
  @apply bg-gray-100;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.book-wrapper {
  transition: transform 1s;
}

.book-wrapper .page {
  @apply m-0 mx-auto h-full max-w-full max-w-7xl;
}

.book-wrapper .section {
  @apply w-full h-48 inline-block md:h-96 lg:h-124;
}

.book .paginator {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  font-size: 1rem;
  z-index: 1;
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 3px;
}

/*! purgecss end ignore */

@import "tailwindcss/utilities";
