@import "jit-refresh.css";
@import "../fonts/fonts.css";

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import "./custom.css";

@import "./nord.css";
/*@import "./monokay.css";*/

@theme {
  --font-sans: "Manrope", sans-serif;
}

@plugin "@tailwindcss/typography";
