<aside class="sticky top-0 flex flex-col hidden w-64 max-h-screen min-h-screen bg-gray-100 xl:w-96 lg:block">
  <div class="px-8 xl:px-10">
    <header class="py-14">
      <h1 class="font-sans text-3xl font-medium tracking-widest text-gray-700 uppercase">{{ metadata.title }}</h1>
      <h2 class="mt-4 font-serif text-lg italic tracking-wide text-gray-500 font-extralight">{{ metadata.tagline }}</h2>
    </header>

    {% render "navbar", metadata: site.metadata, page: page %}

    {% render "footer", metadata: site.metadata %}
  </div>
</aside>
